---
import '@fortawesome/fontawesome-free/css/all.css';
---
<aside>
    <div class="icon_container" id="facebook"><i class="fa-brands fa-square-facebook"></i></div>
    <div class="icon_container" id="instagram"><i class="fa-brands fa-instagram"></i></div>
    <div class="icon_container" id="twitter"><i class="fa-brands fa-square-twitter"></i></div>
    <div class="icon_container" id="linkedin"><i class="fa-brands fa-linkedin"></i></div>
</aside>

<style>
    aside{
        display: flex;
        z-index: 4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0px;
        top:calc(50% - 70px);
        width: 20px;
        height: 140px;
    }  
    i{
        font-size: 18px;
        color: white;
    } 

    .icon_container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 35px;
    }

    #facebook{
        background-color: #3b5998;
    }
    #facebook:hover{
        background-color: black;
        cursor: pointer;
    }


    #instagram{
        background-color: #bb0000;
    }
    #instagram:hover{
        background-color: black;
        cursor: pointer;
    }


    #twitter{
        background-color: #3b5998
    }
    #twitter:hover{
        background-color: black;
        cursor: pointer;
    }


    #linkedin{
        background-color: #007bb5;
    }
    #linkedin:hover{
        background-color: black;
        cursor: pointer;
    }
</style>